body {
  background-color: #f0f8ff;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 20px;
  width: 900px;
  font-size: 18px;
}

body.night-mode{
  background-color: #363636;
  color: #fff;
}

h1 {
  text-align: center;
  color: #6b8e23;
  font-weight: bold;
}

.night-mode h1{
  color: #cfb53b;
}

.custom-input {
  border: 1px solid #2e8b57;
  padding: 8px;
  border-radius: 6px;
  outline: none;
  margin-right: -50px;
}

.night-mode .custom-input{
  border: 1px solid #cfb53b;
}

.custom-input:focus {
  border-color: #2e8b57;
  box-shadow: 0 0 5px #2e8b5685;
}

.night-mode .custom-input:focus{
  border-color: #cfb53b;
  box-shadow: 0 0 5px #fbeb5d80;
}

#search,
#myLocationBtn,
#toggle-mode{
  padding: 8px;
  font-size: 18px;
  margin-right: 10px;
}

.night-mode #search,
.night-mode #myLocationBtn,
.night-mode #toggle-mode{
  border: 1px solid #cfb53b;
  color: #cfb53b;
}

.night-mode #search:hover,
.night-mode #myLocationBtn:hover,
.night-mode #toggle-mode:hover{
  color: #fff;
  background-color: #cfb53b;
}

.night-mode #search:focus,
.night-mode #myLocationBtn:focus,
.night-mode #toggle-mode:focus{
  outline: none;
  box-shadow: 0 0 3px 3px #cfb53b;
}

.tableInfo{
  width: 850px;
  height: 700px;
  background-color: #2e8b57;
  display: flex;
  position: relative;
}

.night-mode .tableInfo{
  background-color: #cfb53b;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.tableInfoDay{
  width: 170px;
  height: 280px;
  border: 1px solid #cfb53b;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  transition: background-color 0.3s ease;
}

.night-mode .tableInfoDay{
  border: 1px solid #2e8b57;
}

.tableInfoDay.active-day {
  background-color: #6b8e23;
  border-bottom: none;
}

.tableInfoDown{
  background-color: #6b8e23;
  border: 1px solid #6b8e23;
  width: 850px;
  height: 420px;
  position: absolute;
  top: 280px;
  display: none;
  z-index: 1;
  transition: all 0.3s ease;
}

.tableInfoDown.active {
  z-index: 10;
}

#tableInfoDown2{
  left: 0px;
}

#tableInfoDown3{
  left: 0px;
}

#tableInfoDown4{
  left: 0px;
}

#tableInfoDown5{
  left: 0px;
}

#dayOne{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

#dateOne{
  color: #ccc;
}

.iconMain img{
  margin: -30px;
  width: 130px;
}

.iconItem img{
  width: 60px;
  margin-left: 8px;
}

.temp{
  font-size: 26px;
  font-weight: bold;
}

.forecast-time-container {
  display: inline-block;
  margin: 8px;
}

.forecast-time {
  font-size: 16px;
  color: #ccc;
  text-align: center;
}

.forecast-temp {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

.forecast-pop{
  margin-top: 20px;
}

.forecast-humidity,
.forecast-pressure,
.forecast-speed,
.forecast-pop{
  font-size: 16px;
}

.forecast-humidity img{
  width: 23px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.forecast-pressure img{
  width: 23px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.forecast-speed img{
  width: 23px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.forecast-pop img{
  width: 23px;
  margin-right: 8px;
}