body {
  background-color: #f0f8ff;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 20px;
  width: 800px;
  border: 1px solid black;
}

h1 {
  text-align: center;
  color: #0066cc;
}

.tableInfo{
  width: 750px;
  height: 600px;
  background-color: green;
  display: flex;
  position: relative;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.tableInfoDay{
  width: 150px;
  height: 250px;
  border: 1px solid rgb(0, 169, 0);
  cursor: pointer;
  text-align: center;
}

.tableInfoDown{
  background-color: rgb(11, 89, 11);
  border: 1px solid black;
  width: 750px;
  height: 350px;
  position: absolute;
  top: 250px;
  display: none;
}
#tableInfoDown1{
  display: block;
}

#tableInfoDown2{
  left: 0px;
}

#tableInfoDown3{
  left: 0px;
}

#tableInfoDown4{
  left: 0px;
}

#tableInfoDown5{
  left: 0px;
}

#dayOne{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

#dateOne{
  color: #ccc;
  font-size: 16px;
}

.icon{
  margin: -20px;
}

.temp{
  font-size: 22px;
  font-weight: bold;
}

.forecast-time-container {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.forecast-time {
  font-size: 14px;
  font-weight: bold;
}

.forecast-temp {
  font-size: 12px;
  margin-top: 5px;
}
